@media (max-width: 768px) {
  footer .footter-content {
    margin-left: 60px;
    margin-right: 80px;
  }
}

@media (max-width: 600px) {
  header ul {
    height: 70px;
    justify-content: flex-start !important;
    margin-left: 20px;
  }
  header .contact-about {
    display: none;
  }

  header .logo img {
    width: 55px;
  }

  header .logo p {
    font-size: 1.5rem;
  }
  /*************************/
  .landing h1 {
    font-size: 3.5rem;
  }

  .landing p {
    font-size: 1rem;
  }
  /**********************/

  .sec1 {
    padding-top: 40px;
    padding-bottom: 250px;
    margin-bottom: 60px;
  }

  .sec1 .cuurency-inputs {
    gap: 5px;
    height: fit-content;
    flex-direction: column;
  }

  .form .user-input input,
  .user-input select,
  .date-input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding: 10px;
  }

  .form .cuurency-inputs::after {
    top: 54%;
    width: 100%;
    height: 2px;
  }

  .form .user-input1 {
    margin-bottom: 25px;
  }

  .form .switch {
    transform: rotateZ(90deg);
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
  }

  /***************/

  footer {
    padding-top: 30px;
  }

  footer .footter-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 20px;
    margin-right: 0;
    flex-direction: column !important;
    align-items: flex-start;
    gap: 50px;
  }

  footer .logo img {
    width: 80px;
  }

  footer .logo {
    font-size: 30px;
  }

  footer .cb {
    font-size: 14px;
  }

  footer .email-us form {
    width: 250px;
  }

  footer .findUs {
    font-size: 10px;
  }

  footer .email-us p {
    text-align: left;
    font-size: 20px;
    margin-bottom: 15px;
  }

  footer .ending {
    padding-bottom: 20px;
    font-size: 15px;
  }
}
